<p>output works!</p>
<div style="display: flex; flex-direction: row; align-items: center">
<form [formGroup]="generateForm">
    <select formControlName="firstDig" [(ngModel)]="firstDigit">
        <option *ngFor="let i of optionRange" [(value)]="i">
            {{ i }}
        </option>
    </select>
    <select formControlName="secondDig" [(ngModel)]="secondDigit">
        <option *ngFor="let i of optionRange" [(value)]="i">
            {{ i }}
        </option>
    </select>
    <select formControlName="systemName" [(ngModel)]="system">
        <option value="MajorSystem">MajorSystem</option>
        <option value="DominicSystem">DominicSystem</option>
    </select>
    <button (click)="generate()">Generate</button>
    <div style="display: flex; flex-direction: row; align-items: center">
        <select formControlName="celebData" [ngModel]="celebData" multiple size="10" style="height: 100%;" (click)="celebSelect()">
            <option *ngFor="let j of celebData" [value]="j">{{ j.person }}</option>
        </select>
        <div style="display: flex; flex-direction: column; align-items: center">
            <span>{{ celebSelected }}</span>
            <img [src]="celebImage">
            <input formControlName="celebDescription" [(ngModel)]="celebDescription">
        </div>
    </div>
</form>
</div>
<router-outlet></router-outlet>